@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  --color-link-light-default: #1867FF;
  --color-link-light-hover: #0400CD;
  --color-link-dark-default: #4081FF;
  --color-link-dark-hover: #68A4FF;

  --color-moss-50: #f6f8f5;
  --color-moss-100: #e9f1e7;
  --color-moss-200: #d5e2d0;
  --color-moss-300: #b3caab;
  --color-moss-400: #8aa97f;
  --color-moss-500: #65885a;
  --color-moss-600: #527148;
  --color-moss-700: #425a3b;
  --color-moss-800: #374932;
  --color-moss-900: #2e3d2a;
  --color-moss-950: #171f14;

  --font-text: system-ui;
  --font-display: degular, system-ui;
}

@layer base {
  h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
      @apply font-display
  }

  .h1 {
      @apply font-bold leading-none text-4xl sm:text-5xl md:text-6xl 2xl:text-7xl
  }

  .h2 {
      @apply font-bold leading-none text-3xl sm:text-4xl md:text-5xl
  }

  .h3 {
      @apply font-bold text-2xl lg:text-3xl xl:text-4xl
  }

  .h4 {
      @apply font-semibold text-sm uppercase tracking-wider text-neutral-600 dark:text-neutral-500;
  }
}

@utility container {
  @apply px-6 sm:px-12 md:px-16 mx-auto max-w-5xl 2xl:px-8 lg:max-w-7xl;
}

@layer components {
  .textLink {
    color: var(--color-link-light-default);
    @apply underline underline-offset-4;

    @variant hover {
      color: var(--color-link-light-hover);
    }

    @variant dark {
      color: var(--color-link-dark-default);

      @variant hover {
        color: var(--color-link-dark-hover);
      }
    }
  }

  .workSlider .slick-track,
  .testimonialSlider .slick-track {
    display: flex !important;
    align-items: center;
  }

  .workSlider .slick-track .slick-slide,
  .testimonialSlider .stlick-track .slick-slide {
    display: flex !important;
    height: auto !important;
    align-items: center;
    justify-content: center;
  }

  .workSlider .slick-dots,
  .testimonialSlider .slick-dots {
    bottom: 8% !important;
  }

  .workSlider .slick-dots li button:before {
    font-size: 10px;
    @apply text-black dark:text-white;
  }

  .workSlider .slick-dots li.slick-active button:before {
    font-size: 14px;
    @apply text-black dark:text-white;
  }

  .testimonialSlider .slick-dots li button:before {
    font-size: 10px;
    @apply text-black;
  }

  .testimonialSlider .slick-dots li.slick-active button:before {
    font-size: 14px;
    @apply text-black;
  }

  .bgSlider {
    @apply absolute w-full h-full
  }

  .bgSlider .slick-list {
    @apply h-full;
  }

  .bgSlider .slick-list .slick-slider {
    @apply h-full;
  }

  .bgSlider .slick-list .slick-slider > div {
    @apply h-full;
  }

  .bgSlider .slick-list .slick-slider > div > div {
      @apply h-full;
  }
}

@utility prose {
  blockquote {
    @apply my-12 lg:my-16 font-normal not-italic text-neutral-600 dark:text-neutral-400 pl-8 lg:pl-10 border-l-4 border-yellow-300 dark:border-yellow-400;
  }

  blockquote p {
    @apply relative;
  }

  blockquote p:before {
    @apply absolute -left-2 font-normal;
  }

  p {
    @apply leading-relaxed;
  }

  h2 {
    @apply text-3xl
  }

  ul {
    @apply ml-4;
  }

  a {
    @apply text-link-light-default hover:text-link-light-hover dark:text-link-dark-default dark:hover:text-link-dark-hover underline-offset-4 font-normal;
  }
}
