@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  --color-background: var(--color-white);
  --color-foreground: var(--color-neutral-900);
  --color-muted: var(--color-neutral-600);
  --color-link: var(--color-blue-600);
  --color-link-hover: var(--color-blue-800);
  --color-border: var(--color-neutral-200);

  --font-text: system-ui;
  --font-display: degular, system-ui;

  --breakpoint-xs: 30rem;
}

@layer base {
  @variant dark {
    :root {
      --color-background: var(--color-neutral-900);
      --color-foreground: var(--color-white);
      --color-muted: var(--color-neutral-400);
      --color-link: var(--color-blue-500);
      --color-link-hover: var(--color-blue-400);
      --color-border: var(--color-neutral-800);
    }
  }

  h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
      @apply font-display
  }

  .h1 {
      @apply font-bold leading-none text-4xl xs:text-5xl md:text-6xl 2xl:text-7xl
  }

  .h2 {
      @apply font-bold leading-none text-3xl sm:text-4xl md:text-5xl
  }

  .h3 {
      @apply font-bold text-2xl lg:text-3xl xl:text-4xl
  }

  .h4 {
      @apply font-semibold text-sm uppercase tracking-wider text-muted;
  }


}

@utility container {
  @apply px-6 sm:px-12 md:px-16 mx-auto max-w-5xl 2xl:px-8 lg:max-w-7xl;
}

@layer components {
  .textLink, figcaption a {
    color: var(--color-link);
    @apply underline underline-offset-4;

    @variant hover {
      color: var(--color-link-hover);
    }
  }

  .caseStudyText {
    @apply max-w-2xl
  }

  .caseStudyFigure {
    @apply max-w-full my-2! sm:my-8! md:my-12! lg:mt-0! lg:mb-16!
  }
}

@utility prose {
  blockquote {
    @apply my-12 lg:my-16 font-normal not-italic text-neutral-600 dark:text-neutral-400 pl-8 lg:pl-10 border-l-4 border-yellow-300 dark:border-yellow-400;
  }

  blockquote p {
    @apply relative;
  }

  blockquote p:before {
    @apply absolute -left-2 font-normal;
  }

  p {
    @apply leading-relaxed;
  }

  h2 {
    @apply text-3xl
  }

  a {
    @apply text-link hover:text-link-hover underline-offset-4 font-normal;
  }
}
